*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    color: #fff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

main {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

main ul{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 12px;
}

main li{
    list-style: none;
}

.video01,
.video02{
    margin-top: 12px;
}

.video01 li,
.video02 li {
    padding: 12px;
}
